<div class="hero-unit">
  <h1><%= AppConfig.name %></h1>
  <p>Twitter/Yammer–esque chat board for small offices/co-working places</p>
  
  <%= form_tag "/place" do %>
    <div class="row-fluid">
      <div class="span12">
        <label for="place-name">What's the name of the place you work out of?</label>
        <div class="input-append">
          <%= text_field_tag 'name', @place, placeholder: "e.g. coca cola", id: "place-name", class: "input-small" %>
          <%= submit_tag "Go!", class: "btn" %>
        </div>
      </div>
    </div>
  <% end %>
</div>