body.home-index {
  .hero-unit {
    h1 {
      color: #fff;
      font-weight:normal;
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
      font-family: "Museo", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight:bold;
    }
    p {
      margin-bottom: 2em;
      text-shadow: 1px 1px 2px #ff00de;
    }
  }
  
  form {
    input#place-name {
      width: auto;
      font-size: 20px;
      line-height:20px * 2;
    }
    .btn, input#place-name {
      height: 20px * 2;
      box-sizing: border-box;
    }
  }
}

#ember-app {
  section.messages {
    ul {
      list-style-type:none;
      margin-left: 0;
      border-top: 1px solid #eee;
      li {
        border: 1px solid #ddd;
        border-top: 1px solid #fff;
        padding: 0.5em;
        background-color:#eee;
        text-shadow: 0px 1px 1px #fff;
        font-weight: 200;
        letter-spacing:0.08em;
      }
   
    }
  }
  
}
