<div class="form-inline">
  <div class="input-append">
    {{view Ember.TextField id="sayText" rows="2" size="50"}}
    <button type="submit" class="btn btn-primary">Send</button>
  </div>
  <div class="btn-group">
    <button class="btn" {{action sendMusic}}><i class="icon icon-music"></i></button>
  </div>
</div>
