<div id="sayForm">
  <form class="form-inline">
    <div class="input-append">
      {{view Ember.TextArea id="sayText" rows="2"}}
      <a class="btn btn-primary btn-large" {{action sendMessage target="view"}}>Send message</a>
    </div>
  </form>
</div>
