<div class="overlay-container span6">
  <fieldset>
    <legend>Sign In</legend>
    <label>Username</label>
    <div class="input-prepend">
      <span class="add-on">@</span>
      {{view Ember.TextField valueBinding="username" placeholder="e.g. bobsmith"}}
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </fieldset>
</div>
